In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [22]:
df = pd.read_csv("real_estate_data.csv")

In [23]:
df.head()

   tx_price  beds  baths  sqft  ...  insurance  median_school num_schools tx_year
0    295850     1      1   584  ...       81.0            9.0         3.0    2013
1    216500     1      1   612  ...       51.0            3.0         3.0    2006
2    279900     1      1   615  ...       74.0            8.0         3.0    2012
3    379900     1      1   618  ...       92.0            9.0         3.0    2005
4    340000     1      1   634  ...       30.0            9.0         3.0    2002

[5 rows x 26 columns]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1883 entries, 0 to 1882
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tx_price            1883 non-null   int64
 1   beds                1883 non-null   int64
 2   baths               1883 non-null   int64
 3   sqft                1883 non-null   int64
 4   year_built          1883 non-null   int64
 5   lot_size            1883 non-null   int64
 6   property_type       1883 non-null   object
 7   exterior_walls      1660 non-null   object
 8   roof                1529 non-null   object
 9   basement            1657 non-null   float64
 10  restaurants         1883 non-null   int64
 11  groceries           1883 non-null   int64
 12  nightlife           1883 non-null   int64
 13  cafes               1883 non-null   int64
 14  shopping            1883 non-null   int64
 15  arts_entertainment  1883 non-null   int64
 16  beauty_spas         1883 non-null   int64
 17  active_life         1883 non-null   int64
 18  median_age          1883 non-null   float64
 19  married             1883 non-null   float64
 20  college_grad        1883 non-null   float64
 21  property_tax        1883 non-null   float64
 22  insurance           1883 non-null   float64
 23  median_school       1883 non-null   float64
 24  num_schools         1883 non-null   float64
 25  tx_year             1883 non-null   int64
dtypes: float64(8), int64(15), object(3)
memory usage: 382.6+ KB

In [25]:
df.isna().sum()

tx_price                0
beds                    0
baths                   0
sqft                    0
year_built              0
lot_size                0
property_type           0
exterior_walls        223
roof                  354
basement              226
restaurants             0
groceries               0
nightlife               0
cafes                   0
shopping                0
arts_entertainment      0
beauty_spas             0
active_life             0
median_age              0
married                 0
college_grad            0
property_tax            0
insurance               0
median_school           0
num_schools             0
tx_year                 0
dtype: int64

In [26]:
df.drop(["exterior_walls","roof"],inplace=True,axis=1)

In [27]:
df.shape

(1883, 24)

In [28]:
df.basement = df.basement.fillna(0)

In [29]:
df.head()

   tx_price  beds  baths  sqft  ...  insurance  median_school num_schools  tx_year
0    295850     1      1   584  ...       81.0            9.0         3.0     2013
1    216500     1      1   612  ...       51.0            3.0         3.0     2006
2    279900     1      1   615  ...       74.0            8.0         3.0     2012
3    379900     1      1   618  ...       92.0            9.0         3.0     2005
4    340000     1      1   634  ...       30.0            9.0         3.0     2002

[5 rows x 24 columns]

In [30]:
df.basement.unique()

array([0., 1.])

In [31]:
df['age'] = df.apply(lambda x: x['tx_year'] - x['year_built'], axis=1 )

In [32]:
df.drop('property_type', 1, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [38]:
x = df[["beds","baths","sqft","year_built","basement","tx_year","insurance"]]

In [39]:
train_X, test_X, train_y, test_y = train_test_split(x, df.tx_price, test_size=0.1, )

In [48]:
rrr = RandomForestRegressor(n_estimators=75)
rrr = rrr.fit(train_X, train_y)

In [49]:
rrr.score(test_X,test_y)

0.7360939957817341

In [50]:
import joblib

In [53]:
joblib.dump(rrr,"ai.model")

['ai.model']